@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootstrap_modifications.scss";
@import "./variables.scss";


.gradient-background::after {
  content: "";
  display: block;
  position: fixed;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Asterisk after label text for required inputs */
.form-group.required label:after {
  content: "*";
  margin-left: 0.25em;
  color: $red;
}

.slightly-transparent-inputs input:not([type=submit]),
.slightly-transparent-inputs textarea,
.slightly-transparent-inputs select,
.slightly-transparent-background {
  background-color: $slightly-transparent-background;
}

.admin-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: auto;
}