$slightly-transparent-background: rgba(255, 255, 255, 0.9);

// setting default font families
$headings-font-family: 'Catamaran', sans-serif;
$text-font-family: 'Montserrat', sans-serif;

// setting default font sizes
$headings-font-size-large: 3em;
$headings-font-size-medium: 2em;
$headings-font-size-small: 1.4em;