@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
@import "./grid-breakpoints.scss";

// CUSTOM
$slightly-transparent-white: rgba(255, 255, 255, 1);
$slightly-transparent-light-grey: rgba(243, 243, 243, 0.9);
$navbar-height: 70px;

// FONT
// setting default font families
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Catamaran', $font-family-sans-serif;



// COLOR

// $test: rgb(0, 255, 179);
// $test: rgb(0, 133, 93);
// $test: rgb(0, 189, 215);
// $test: rgb(255, 126, 126);
// $test: rgb(201, 31, 3);
// $test: rgb(201, 51, 255);
// $test: rgb(255, 58, 255);

// $blue:    #1b80ec;
$blue: rgb(109, 144, 250);

// $indigo:  #6610f2;
$purple: #6f42c1;

$pink: #e83e8c;
$pink: rgb(227, 68, 196);

// $red:     #dc3545;
$red: rgb(230, 18, 18);

// $orange:  #fd7e14;
$orange: rgb(255, 133, 40);


// $yellow:  #ffc107;
$yellow: rgb(255, 233, 31);

// $green:   #20df4d;
$green: rgb(30, 201, 150);

$teal: #20c997;

// $cyan:    #17a2b8;
$cyan: rgb(0, 155, 255);

$light: #d2dacc;


// THEMES
$theme-colors: (
    primary: $green,
    secondary: $gray-600,
    success: $blue,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);


$colors: (
    "blue": $blue,
    "indigo": $indigo, // TODO
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    // TODO light exists? gray, gray-dark
);
