// Overrides for Vuetify styles. Needs to be more specific than the Vue rules to override them, so all rules
// are wrapped in theme--light.v-application

.theme--light.v-application {
  // Vuetify overrides background, so disable this
  background: initial;
  background-color: initial;

  // Force Vuetify to use normal fonts and font sizes
  font-family: $font-family-base;

  .v-list--dense .v-list-item .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list-item--dense .v-list-item__title {
    font-size: 1rem;
  }

  // Navbar lists, lists of businesses etc. have left padding without this rule
  ol, ul {
    padding-left: 0;
  }

  // For some reason, dialog titles use break-all, so it splits words between lines
  .v-card__title {
    word-break: break-word;
  }

  // Vuetify adds a rules like .flex-wrap that is after the Bootstrap stuff, breaking rules
  // like flex-wrap .flex-lg-nowrap, where you want to wrap only screen sizes below lg
  // There are *a lot* of rules that need to be added,
  @include media-breakpoint-up(sm) {
    .flex-sm-nowrap {
      flex-wrap: nowrap !important;
    }
    .d-sm-block {
      display: block !important;
    }
    .d-sm-flex {
      display: flex !important;
    }
    .d-sm-none {
      display: none !important;
    }
  }

  @include media-breakpoint-up(md) {
    .flex-md-nowrap {
      flex-wrap: nowrap !important;
    }
    .d-md-block {
      display: block !important;
    }
    .d-md-flex {
      display: flex !important;
    }
    .d-md-none {
      display: none !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .flex-lg-nowrap {
      flex-wrap: nowrap !important;
    }
    .d-lg-block {
      display: block !important;
    }
    .d-lg-flex {
      display: flex !important;
    }
    .d-lg-none {
      display: none !important;
    }
  }

  @include media-breakpoint-up(xl) {
    .flex-xl-nowrap {
      flex-wrap: nowrap !important;
    }
    .d-xl-block {
      display: block !important;
    }
    .d-xl-flex {
      display: flex !important;
    }
    .d-xl-none {
      display: none !important;
    }
  }
}